$font-color: #032200;
$botticelli: #CCE1E4;

@font-face {
  font-family: Mont;
  src: url(../dist/fonts/Montserrat/Montserrat-Medium.ttf)
}

@font-face {
  font-family: MontReg;
  src: url(../dist/fonts/Montserrat/Montserrat-Regular.ttf)
}

@mixin mediaSm {
  @media only screen and (max-width:520px) {
    @content;
  }
}

@mixin mediaMd {
  @media only screen and (max-width: 725px) and (min-width: 521px) {
    @content;
  }
}

@mixin mediaLg {
  @media only screen and (min-width: 726px) {
    @content;
  }
}