@include mediaMd {
   h2 {
      font-size: 2rem;
      padding: 1.5rem 0;
   }

   p {
      line-height: 1.5rem;
      padding: 1rem 0;
   }

   .header {
      background: url('../images/bridge-under-white-clouds.jpg') center;
      background-size: cover;
      height: 100vh;
   }

   .hero {
      display: grid;
      grid-template-columns: 2rem auto 2rem;
      padding-top: 5rem;
      width: 100%;

      &__heading {
         color: darken($font-color, 2%);
         font-size: 3rem;
         grid-column: 2;
         line-height: 3.5rem;
         text-transform: uppercase;
      }

      &__subheading {
         color: darken($font-color, 2%);
         font-size: 1.5rem;
         grid-column: 2;
         line-height: 2rem;
         padding: 1rem 0;
      }

      &__button {
         border-width: 0;
         border-radius: 25px;
         justify-self: center;
         // padding: 1.2rem;
         text-transform: uppercase;
         background-color: #ffc107;
         grid-column: 2;
         margin: 3.5rem 0;
         width: fit-content;

         &:focus {
            outline: none;
         }
      }

      &__cta {
         color: #003302;
         cursor: pointer;
         font-weight: bold;
         font-size: 1rem;
         outline: none;
         outline-style: none;
      }
   }

   .top-grid {
      display: grid;
      grid-template-columns: 3rem auto 3rem;
      text-align: left;
      width: 100%;
   }

   .nonprofit {
      background-color: lighten($botticelli, 10%);
      grid-column: 2/3;
      grid-row: 1.5;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      padding-left: 1rem;

      &__heading {}

      &__container {
         font-size: 1.2rem;

         span {
            font-weight: normal;
         }
      }

      &__list {
         font-weight: bold;
         line-height: 2rem;
      }
   }

   .about {
      grid-column: 2/3;
      padding-bottom: 5rem;
      padding-top: 5rem;

      &__header {
         font-size: 2.3rem;
      }

      &__paragraph {
         font-size: 1.1rem;
         line-height: 1.9rem;
      }

      &__figure {
         color: $font-color;
         font-size: 1.5rem;
         padding: 3rem;
         width: 80vw;
      }

      &__blockquote {
         color: lighten($font-color, 15%);
         font-weight: bold;
         line-height: 2.2rem;
         padding: 0.1rem 0;
      }

      &__cite {
         color: lighten($font-color, 5%);
         font-size: 1.2rem;
      }
   }

   .member {
      // grid-column: 2;
      // padding-top: 4rem;
      background-color: $botticelli;
      padding-bottom: 6rem;
      padding-top: 5rem;
      text-align: center;

      &__paragraph {
         color: $font-color;
         font-size: 1.5rem;
         font-weight: bold;
         line-height: 2.5rem;
         text-transform: uppercase;
      }

      &__button {
         background-color: #0a5b00;
      }

      &__cta {
         color: #ffffff;
         font-size: 1.3rem;
         font-weight: bold;
         letter-spacing: 2px;
         padding: 1.2rem;
      }
   }

   .photos__container {
      max-width: 800px;
      margin: auto;
   }

   .photos {
      background-color: lighten($font-color, 92.5%);
      padding: 5rem 2rem;
      padding-top: 2rem;

      p img {
         display: block;
         height: auto;
         width: 100%;
      }

      &__headers {
         text-align: center;
         padding-bottom: 2rem;
      }

      &__header {
         font-size: 2.3rem;
      }

      &__paragraph {
         font-size: 1.1rem;
         line-height: 2.2rem;
      }

      // Image grid
      &__grid {
         display: grid;
         grid-gap: 5rem;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
      }

      img {
         display: block;
         height: auto;
         width: 100%;
      }

      &__figure {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
      }

      &__image {
         max-width: 400px;
      }

      &__figcaption {
         display: block;
         max-width: 300px;
         align-self: center;


         p {
            margin-top: 1rem;
            padding-left: 2rem;
            line-height: 1.8rem;
         }
      }
   }

   .footer {
      background-color: lighten($botticelli, 10%);

      &__container {
         margin: auto;
         max-width: 800px;
         width: 100%;
      }

      &__sitemap {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
         justify-self: center;
         padding-bottom: 5rem;
         padding-top: 5rem;
      }

      &__column {
         justify-self: center;
      }

      &__header {
         color: $font-color;
         font-size: 1.5rem;
         padding: 1rem 0;
      }

      &__list {
         font-size: 1rem;
         padding: 0.5rem 0;
         text-align: center;

         a {
            color: darken($font-color, 10%);
         }
      }

      &__bar {
         align-items: center;
         background-color: darken($botticelli, 90%);
         display: flex;
         flex-direction: column;
         letter-spacing: 1px;
         justify-content: space-around;
         padding: 0.5rem 0;

         p {
            color: #fff;
            font-size: .7rem;
            font-weight: normal;
            padding: 0;
            padding-top: 0.25rem;
         }
      }

      &__icon {
         height: 1.2rem;
         margin: 0.5rem;
         width: 1.2rem;
      }
   }
}