.navigation {
   align-items: center;
   background-color: lighten($botticelli, 10%);
   display: grid;
   grid-template-columns: 10rem min-content 1fr;
   height: 4rem;

   &__logo {
      border: 1px solid rgb(70, 180, 79);
      font-size: 1.5rem;
      grid-column: 2;
   }

   &__container {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
   }

   &__link {
      color: #000000;
      font-weight: normal;
      font-size: 0.9rem;
      margin-left: 2rem;
      text-transform: uppercase;
   }

   &__welcome {
      background-color: transparent;
      border-radius: 0;
      grid-column: 4;
      height: fit-content;
      margin: 0;
      padding: 0 2rem;
      width: fit-content;
   }

   &__signin {
      background-color: #fff;
      border: 1px solid black;
      border-radius: 50px;
      cursor: pointer;
      padding: 0.5rem;

      a {
         color: black;
      }
   }
}