.navigation {
   background-color: #dbfbff;
   display: flex;
   height: 4rem;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;

   &__logo {}

   &__container {
      display: flex;
      padding-right: 2rem;
   }

   &__list {}

   &__link {
      color: #032200;
      font-weight: bold;
      margin-left: 4rem;
      text-transform: uppercase;
   }
}